
  /* Avatar Slider and Arrows */
  .splide__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .splide__slide div {
    width: 90%;
    max-width: 900px;
  }

  .splide__slide img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
  }

  /* Position the arrows correctly */
  .splide__arrow {
    position: absolute;
    background: none;
    color: gray;
    border: none;
    top: 50%;
    transform: translateY(-50%);
  }

  .splide__arrow--prev {
    left: 10px;
  }

  .splide__arrow--next {
    right: 10px;
  }
